<%
var gen = page.generator;

%>

<h3>Contents</h3>
<ul class="navigator">
  <li><a href="#display">Display</a></li>
  <li><a href="#about">About</a></li>
</ul>
<section id="display">
  <h2 i18n-content="display">Display</h2>
  <h3 i18n-content="theme">Theme</h3>
  <select id="theme">
    <% gen.option(page.themes) %>
  </select>

  <label>
    <input type="checkbox" id="like">
    I like colors.
  </label>
</section>
<div id="about">
    <h2>LDS Scriptures 3.5</h2>
    <h3>developer build</h3>
    <p>LDS Scriptures was developed by <a href="http://duck-producktions.blogspot.com/">Jonathan Duck</a>.</p>
    <h3>Disclaimer</h3>
    <p>This Application was not developed by or in association with The Church of Jesus Christ of Latter-day Saints or any affiliate of the Church of Jesus Christ of Latter-day Saints. Accordingly, The Church of Jesus Christ of Latter-day Saints and its affiliates are not responsible for the content or the functioning of this Application. Rather, the developer of this Application is solely responsible for its content and functioning. Further, you should understand that this Application is neither owned by nor endorsed by The Church of Jesus Christ of Latter-day Saints. However, any trademarks or service marks associated with The Church of Jesus Christ of Latter-day Saints that may be displayed in this Application are owned by Intellectual Reserve, Inc. or other entity affiliated with The Church of Jesus Christ of Latter-day Saints.</p>
</div>
