.tools li>a.chrome-app-icon:before
{
	content: ' ';
	background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon_16.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	/*background-position-x: 3px, 200%;
	background-position-y: 5px, 100%;*/
}
