/*
 * This css file has the default properties for the scripture pages.
 * When more/different properties are to be added, they will be loaded
 * as seperate CSS files/tags. This tag is hard coded and permanent.
 * */
 
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.highlight {
	background-color: yellow;
}

a, a:visited {
	color: blue;
}

body {
	margin: 0;
}

#breadcrumbs a
{
    margin-right: 10px;
}

#menu ul
{
	margin: 0;
	padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  background: transparent url(../img/nav_bg.png) repeat-x top left;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

#menu li
{
	display: inline;
	margin: 0;
	padding: 0;
  display: block;
  float: left;
}

#menu li a {
  display: block;
  float: left;
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px 0 20px;
}

#menu li a img {
	vertical-align: middle;
}

#menu li a:hover {
  color: #FFFFFF;
  height: 22px;
  background: transparent url(../img/nav_bg.png) 0px -30px no-repeat;
}
#menu li.active a {
  display: inline;
  height: 22px;
  background: transparent url(../img/nav_bg.png) 0px -30px no-repeat;
  float: left;
  margin: 0;
}

#content li .button {
	float: left;
	margin: .1em;
}
#content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 50em;
}
a.button{
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	min-width: 12em;
}
a.button::-moz-focus-inner{
	padding:0;
	border:0
}
a.button{
	font-size:100%;
	*font-size:90%;
	*overflow:visible;
	padding:.5em 1.5em;
	color:#444;
	color: rgba(0,0,0,.8);
	*color:#444;
	border:1px solid #999;
	border:0 rgba(0,0,0,0);
	background-color:#E6E6E6;
	text-decoration:none;
	border-radius:2px;
	-webkit-transition:.1s linear -webkit-box-shadow;
	-moz-transition:.1s linear -moz-box-shadow;
	-ms-transition:.1s linear box-shadow;
	-o-transition:.1s linear box-shadow;
	transition:.1s linear box-shadow
}
a.button-hover, a.button:hover, a.button:focus{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
	background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
a.button:focus{
	outline:0
}
a.button-active,a.button:active{
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
}
a.button[disabled],a.button-disabled,a.button-disabled:hover,a.button-disabled:focus,a.button-disabled:active{
	border:0;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4;
	cursor:not-allowed;
	box-shadow:none
}
a.button-hidden{
	display: none;
}

#searchbox, #searchbutton {
	display: none;
}
.showsearch #searchbox, .showsearch #searchbutton {
	display: inline;
}

a.button::-moz-focus-inner{
	padding:0;
	border:0
}
a.button-primary,a.button-selected,aa.button-primary,aa.button-selected{background-color:#0078e7;
	color:#fff
}

#content li.book.not-downloaded a {
	color: gray;
}

#content {
	margin: 1em 1em;
}

.showmenu #content {
	/* margin-top: 30px; */
	height: calc(100% - 30px);
}

.showrefs #content {
	margin-bottom: 30%;
	height: 70%;
}

.showmenu.showrefs #content {
	height: 60%;
	height: calc(70% - 30px);
}

#back {
	display:none;
}


#ref-container {
	width: 100%;
	position: fixed;
	overflow: auto;
	bottom: 0;
	height: 0%;
	background: lightgray;
}

.showrefs #ref-container {
	height: 30%;
}

#breadcrumbs select {
	display: none;
}

/*
 * Icons
 */

li.folder a:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: .3em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f07b";
}

li.book a:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: .3em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f02d";
}

li.book.not-downloaded a:before {
	content: "\f019";
}

#previous span {
	display: none;
}
#previous:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f060";
}

#next span {
	display: none;
}
#next:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f061";
}

#uplevel span {
	display: none;
}
#uplevel:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f062";
}

#options span {
	display: none;
}
#options:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f013";
}

#bookmark span {
	display: none;
}
#bookmark:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f02e";
}

#autoscroll-link span {
	display: none;
}
#autoscroll-link:after {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f07d";
}

#ldsorg span {
	display: none;
}
#ldsorg:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f08e";
}

#searchshow span {
	display: none;
}
#searchshow:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f002";
}