/*
 * This file will be used on the options page. It completely contains
 * all apearance on the page. The HTML only contains content.
 *
 * The following classes will be defined by HTML and Javascript to help
 * style the page apropriatly:
 * - selector - defines the ul that contains the navigation links
 * - selected - definees the link on a li that is highlighted
 * - advanced - this item is for more advanced users and should be
 * 		hidden by default, it could also be on the body, indicating that
 * 		the others should be shown.
 * - panels - a div containing other divs that are the panels that are
 * 		selected by the li under the selector
 */
* { -webkit-transition: all .2s linear; }
 
body
{
	background-color:black;
}

body, div, iframe {
	margin: 0;
	padding: 0;
}

.fa {
	margin-right: .4em;
	color: white;
}

.selected>a>i.fa {
	color: black;
}

.selector
{
	background-color: #222;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	overflow: auto;
 }
.selector ul
{
	list-style: none;/*url('../img/icon_16.png');*/
	overflow: hidden;
	height: auto;
}

.selector > li:first-child a/*Selects the first item in the list. Should be the header*/
{
	margin:0px;
	margin-bottom: 3px;
	margin-top: -10px;
	padding-top: 25px;
	font-size: 1.5em;
	background-color: #181818;
}

.selector a
{
	display:block;
	color: yellow;
	padding: 10px;
	margin: 3px;
	border-radius: 13px;
	text-decoration: none;
}
.selector a img
{
	vertical-align: middle;
	margin: 0px;
	margin-right: 8px;
}
.selector a:visited
{
	color: yellow;
}
.selector a:hover[href]
{
	color: gold;
	background-color: #101010;
}

.selector .selected > a
{
	background-color: yellow;
	color: #222;
}
.selector .selected > a:hover
{
	background-color: gold;
	color: #101010;
}
ul.selector li:not(.selected) ul
{
	/*height:0px;*/
}

 div, body, ul.selector, li
 {
	margin: 0;
	padding: 0;
 }
 ul.selector li ul { margin-left:4px; }

/*Very important - Selects the panels and makes them full screen. It also hides them.*/
div.panels>div
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 250px;
	color: white;
	background: black;
	padding-left: 1em;
	
	overflow: auto;
	
	
	transition: margin-left .2s;
	margin-left: 100%;
	
}

/*Very important - Selects the panel that is selected in the hash of the url (target) and makes it visible only*/
.panels div:target
{
	margin-left: 0px;
}

.advanced { display: none; }
body.advanced { display: block;}
.advanced .advanced { display: block; }



h2
{
	color:white;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: -1px -1px 1px #999;
}
h3
{
	color:white;
	font-size: 16pt;
	font-weight: bold;
	text-shadow: -1px -1px 1px #999;
}
a { color:lightblue; }
a:hover[href] { color: yellow; }



.credits a
{
	display:inline-block;
	font-weight: bold;
	margin-top: 30px;
}
.credits span
{
	display:block;
	margin-left: 100px;
}

iframe
{
	width:100%;
	height: 450px;
	background: white;
}
