html, body {
  height: 100%;
}

.content {
  overflow: auto;
  margin-bottom: 30%;
}

.selected {
  background-color: #ff0;
}

.refrences {
  display: none;
  position: fixed;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  overflow: auto;
}

.refrences-open {
  .refrences {
    display: block;
  }
  .content {
  	padding-bottom: 30%;
  }
}

.toolbar {
  div {
    display: inline-block;
  }

  ul.heiarchy {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

.spacer {
  height: 100%;
}
