/*
 * Default Less theme for LDS Scriptures
 *
 * There are a number of variables that are injected into your scripts. You may use any of these
 * to allow your theme to be customized by the user.
 *?
 * @background
 * @color
 * @accent
 * @highlight
 * @margins
 * @fontFamily
 * @fontSize
 * @hideFootnotes
 * @hideAnnotations
 */

//@background: #fff - @background;


@toolbar-size: 2.2em;
@references-size: 30%;
@highlight-fade: 20%;

.chapter sup when (@hideFootnotes) {
	display: none;
}
.chapter a when (@hideFootnotes) {
	color: @color;
	text-decoration: none;
}
.font-awesome() {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 0.4em;
}

[data-icon]:before {
	.font-awesome();
	font-size: 100pt;
}

[data-icon=music]:before {
	content: "\f001";
}

[data-icon=video]:before {
	content: "\f03d";
}

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	font-size: @fontSize*1pt;
	background-color: @background;
	color: @color;
	position: absolute;
	top: @toolbar-size + 1em;
}
.content {
	.pageBreak {
		position: absolute;
		right: 1em;
	}
	.pageBreak:after {
		content: attr(page-number);
		float: right;
		transform: rotate(-90deg);
	}
	.studySummary {
		font-style: italic;
	}
}
video {
	max-width: 100%;
}
.page-content {
	overflow-y: auto;
	overflow-x: none;
	margin-left: @margins * 1px;
	margin-right: @margins * 1px;
}
@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.message-container {
	-webkit-perspective: 1000;
	background: rgba(0,0,0,.4);
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.message-box {
	-webkit-perspective: 1000;
	background: @background;
	color: @color;
	font-size: 1.5em;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 1em;
	text-align: center;
}

.show-message .message-container {
	display: block;
}

.show-message-spinner .message-spinner:before {
	// loading spinner
	content: "\f110";
	.font-awesome();
	font-size: 1em;
	-webkit-animation: fa-spin 1s infinite linear;
	animation: fa-spin 1s infinite linear;
}


.children li {
	display: block;
	float: left;
	h3 {
		font-size: medium;
		margin: 0;
		padding: 0;
		display: inline;
	}
	a[data-type=folder]:before {
		content: "\f07b";
	}
	a[data-type=book]:before {
		content: "\f02d";
	}
	a[data-downloaded=false]:before {
		content: "\f019";
	}
	a:before {
		.font-awesome();
	}
	a {
		margin: 0.5em;
		width: 10em;
		height: 12em;
		background-color: @accent;
		color: @color;
		text-decoration: none;
		text-align: center;
		display: block;
		min-width: 9em;
		padding: 1em;
		overflow: hidden;

		&:hover {
			background-color: lighten(@accent, 10%);
		}
		&:active {
			background-color: darken(@accent, 10%);
		}
		&.selected {
			background-color: mix(@accent, @highlight, 70%);
		}
		&[data-downloaded=false] {
			background-color: mix(@accent, @background, 50%);
		}
	}

	img {
		max-width: 10em;
		display: block;
  	margin: 1em auto;
	}
}
.selected {
	background-color: fade(@highlight, @highlight-fade);
}

.references-container {
	display: none;
	background: @accent;
	position: fixed;
	height: @references-size;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.show-references {
	.references-container {
		display: block;
	}
	.page-content {
		padding-bottom: @references-size;
	}
}

.toolbar-container {
	z-index: 100;
	height: @toolbar-size;
	background: @accent;
	border: 1px darken(@accent, 15%) solid;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

@toolbar-button-radius: .5em;

.toolbar-button {
	border-radius: 0 0 @toolbar-button-radius @toolbar-button-radius;
	min-width: 1em;
	padding: 1em .4em .4em .4em;
	background-color: lighten(@accent, 5%);
	border: 1px darken(@accent, 15%) solid;
	margin: -.6em 0 .2em 0;
	color: @color;
	overflow: hidden;
	text-decoration: none;
}

.toolbar-button[href] {
	background-color: lighten(@accent, 15%);
}

.toolbar-button-left() {
		border-radius: 0 0 @toolbar-button-radius 0;
		border-left: none;
}

.toolbar-button-right() {
		border-radius: 0 0 0 @toolbar-button-radius;
		border-right: none;
}

.toolbar-button-icon(@char) {
	&:before {
		text-indent: 0;
		content: @char;
		.font-awesome();
	}
}

.toolbar-button-previous {
	.toolbar-button-left();
	.toolbar-button-icon("\f053")
}

.toolbar-button-up {
	.toolbar-button-icon("\f148")
}

.toolbar-button-next {
	.toolbar-button-right();
	.toolbar-button-icon("\f054");
}

.toolbar-button-languages {
	.toolbar-button-icon("\f0ac");
}

.toolbar-button-lds-org {
	.toolbar-button-icon("\f14c");
	margin-left: auto;
}

.toolbar-button-options {
	.toolbar-button-icon("\f013");
}

.toolbar-heiarchy {
	list-style: none;
	display: flex;
	flex-shrink: 100;
	margin-left: 1.1em;
}

.toolbar-button-heiarchy   {
	padding-right: 1.2em;
	margin-left: -1em;
	flex-shrink: 100;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.toolbar-button-heiarchy:first-child {
	margin-left: -1em;
	margin-right: .7em;
	flex-shrink: 1;
	display: inline-block;
	overflow: hidden;
	color: transparent;
	background-image: url("img/icon_16.png");
	background-position: center;
	background-position-y: 1em;
	background-repeat:  no-repeat;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.toolbar-button-heiarchy:last-child {
	padding-right: .4em;
}

.toolbar-panel {
	border-radius: 0 0 @toolbar-button-radius @toolbar-button-radius;
	background-color: @accent;
	border: 1px darken(@accent, 15%) solid;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	border-top: none;
	padding: .5em;
	z-index: -100;
	list-style: none;
	position: absolute;
	top: @toolbar-size;
	overflow-y: auto;
  transition: margin-top .5s ease;
}

.toolbar-panel.toolbar-panel-open {
	margin-top: 0;
}

.toolbar-panel-languages {
	height: 14em;
	margin-top: -14em - @toolbar-size - 3em;
	width: 10em;
}

.toolbar-panel-options {
	right: .5em;
	width: 20em;
	height: 13.7em;
	margin-top: -15em - @toolbar-size - 3em;
}

.options-field-group {
	margin: 0 .3em .7em 0;
}
.options-field-group:last-child {
	margin: 0 .3em .3em 0;
}

.options-field-group-range input[type=range] {
	margin-top: .3em;
}

.options-field-group-range button {
	width: 1.5em;
}

.options-field-name {
	font-weight: bold;
	display: block;
}
